@model CarClient.Models.HomeViewModel.HomeViewModel
@{
    ViewData["Title"] = "All Vehicles";
}


@{
    if (TempData["CustomError"] != null)
    {
        <h2>@TempData["CustomError"]</h2>
    }
    else
    {
        <h2>All Vehicles</h2>
    }
    if (!Model.Companies.Any())
    {
        <p>Companies missing</p>
    }
}

<div class="row">
    <div class="col-lg-4">
        <table class="table" style="max-width:300px;" id="cars">
            @for (var i = 0; i < Model.Companies.Count; i++)
            {
                var cars = Model.Companies[i].Cars.ToList();
                <thead>
                    <tr>
                        <th colspan="3">
                            @Html.DisplayFor(model => model.Companies[i].Name) <br />
                            @Html.DisplayFor(model => model.Companies[i].Address)
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @for (var j = 0; j < cars.Count; j++)
                    {
                        if (j == 0)
                        {
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => cars[j].VIN)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => cars[j].RegNr)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => cars[j].Online)
                                </th>
                            </tr>
}
                        <tr id="@cars[j].Id">
                            <td>
                                @Html.DisplayFor(model => cars[j].VIN)
                            </td>
                            <td>
                                @Html.DisplayFor(model => cars[j].RegNr)
                            </td>
                            @{ var cl = cars[j].Online ? "" : "alert-danger";}
                            <td class="@cl">
                                @Html.DisplayFor(model => cars[j].OnlineOrOffline)
                            </td>
                        </tr> if (j == cars.Count - 1)
                                {
                                    <tr><td colspan="3"></td></tr>}
                                }

                </tbody>      }
        </table>
    </div>
    <div class="col-lg-2">
        <h3>Show vehicles with status:</h3>
        <input onclick="doFiltering()"  id="All"  type="radio" name="status" value="All"  checked="checked">All<br>
        <input onclick="doFiltering()" id="Online" type="radio" name="status" value="Online">Online<br>
        <input onclick="doFiltering()" id="Offline" type="radio" name="status" value="Offline">Offline<br>
        <br>
        <br>
        <button onclick="showModals()">Show message queues</button>
    </div>
    <div class="col-lg-4">
        <p class="alert-info">All vehicles for all companies are shown here. Status (Offline/Online) randomly changes approximately every 10 seconds. A logged in user can manually change the status. To view and update vehicles and companies, create an account, log in and select the respective menu options. 
            <br/><br/>
            If you press F12 and select "Console" you can see when the status changes for each car using Javascript in the browser.</p>
    </div>
    <div class="col-lg-2">
    </div>
</div>
